.avatar {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; 
}
.avatar.big {
  border-radius: 60px;
  border: 1px solid #ddd;
  width: 96px;
  margin: 32px; 
}
.toolbar-title {
  color: #ffffff;
}
.smallText {
	font-size: 0.6em;
}
.clickable {
  cursor: pointer;
}
md-input-container.md-default-theme.date {
  height: 6em;
}
md-input-container.md-default-theme.date > label {
  height: 2.5em;
}
md-input-container.md-default-theme.md-input-focused.date > label,
md-input-container.md-default-theme.md-input-has-value.date > label {
  height: 0.7em;
}
.bottom-right-corner {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.inline-list-icon {
    display: inline-block;
    height: 24px;
    width: 24px; 
}
.inline-list-icon-label {
    padding-left: 20px;
    display: inline-block;
    margin-top: -5px;
    height: 24px;
    vertical-align: middle; 
}