<md-content>
	<md-toolbar>
		<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
			<md-button ng-click="viewEmployees()" aria-label="retour">
				<md-icon icon="images/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<h1 class="employeeToolbarTitle">
	        	Modifier mon CV
	      	</h1>
	      	<div></div>
		</div>
	</md-toolbar>
	<md-content class="md-padding" layout-align="center" layout="row">
		Bientôt disponible ☺ !
	</md-content>
</md-content>
