<md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav">
      
      <md-toolbar class="md-theme-light" ng-hide="me">
        <h1 class="md-toolbar-tools">
        	EZCV <br />
        	<span class="smallText">Mon CV en ligne, facile !</span>
       	</h1>
      </md-toolbar>

      <md-toolbar class="md-tall md-theme-light" ng-show="me">
        <div class="md-toolbar-tools">
        	<img ng-src="{{me.avatarUrl}}" class="avatar" alt="{{me.fullName}}">
        	<h1>
	        	{{me.fullName}} <br />
	        	<span class="smallText">{{me.email}}</span>
        	</h1>
       	</div>
      </md-toolbar>

      <md-content ng-controller="SidenavCtrl">
      	<md-list>
      		<md-item ng-click="viewEmployees()">
      			<md-item-content>
			      	<div class="md-tile-left">
      					<md-icon icon="/bower_components/material-design-icons/action/svg/design/ic_view_list_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			      	</div>
			      	<div class="md-tile-content">Tous les utilisateurs</div>
				</md-item-content>
      			<md-divider></md-divider>
      		</md-item>
      		<md-item ng-show="me" ng-click="viewMyCV()">
      			<md-item-content>
			      	<div class="md-tile-left">
      					<md-icon icon="images/ic_clear_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			      	</div>
			      	<div class="md-tile-content">Voir mon CV</div>
				</md-item-content>
      			<md-divider></md-divider>
      		</md-item>      		
      		<md-item ng-show="me">
      			<md-item-content ng-click="editMyCV()">
			      	<div class="md-tile-left">
      					<md-icon icon="images/ic_clear_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			      	</div>
			      	<div class="md-tile-content">Modifier mon CV</div>
				</md-item-content>
      			<md-divider></md-divider>
      		</md-item>      		
      		<md-item ng-hide="me" ng-click="register()">
	  			<md-item-content>
			      	<div class="md-tile-left">
	  					<md-icon icon="/bower_components/material-design-icons/social/svg/design/ic_group_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			      	</div>
			      	<div class="md-tile-content">Inscription</div>
				</md-item-content>
	  			<md-divider></md-divider>
	  		</md-item>
      		<md-item ng-hide="me" ng-click="login()">
	  			<md-item-content>
			      	<div class="md-tile-left">
	  					<md-icon icon="/bower_components/material-design-icons/action/svg/design/ic_lock_outline_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			      	</div>
			      	<div class="md-tile-content">Connexion</div>
				</md-item-content>
	  			<md-divider></md-divider>
	  		</md-item>
		    <md-item ng-show="me" ng-click="logout()">
				<md-item-content>
			      	<div class="md-tile-left">
						<md-icon icon="/bower_components/material-design-icons/action/svg/design/images/ic_exit_to_app_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			      	</div>
	      			<div class="md-tile-content">Déconnexion</div>
				</md-item-content>
				<md-divider></md-divider>
			</md-item>
       </md-list>

		<md-button ng-click="close()" class="md-primary" layout-align="center center">
			Fermer
		</md-button>

      </md-content>
    </md-sidenav>
	<md-toolbar>
		<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
			<md-button aria-label="menu" ng-click="openSidenav()">
				<md-icon icon="images/ic_menu_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<h1 class="employeeToolbarTitle">
	        	Utilisateurs
	      	</h1>
	      	<md-button aria-label="afficher les filtres" ng-click="toggleFilters()">
				<md-icon icon="images/ic_filter_list_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-toolbar layout-align="space-between center" ng-show="showFilters || filters.isCurrentlyEmployed || filters.isLookingForAJob" class="md-primary md-hue-3">
		<div class="md-toolbar-tools" style="font-size: 0.7em;">
			<md-checkbox ng-change="searchEmployees()" ng-model="filters.isCurrentlyEmployed" aria-label="en poste" class="md-primary">
				En poste
			</md-checkbox>
			<md-checkbox ng-change="searchEmployees()" ng-model="filters.isLookingForAJob" aria-label="en recherche" class="md-primary">
				En recherche
			</md-checkbox>
		</div>
	</md-toolbar>
	<div layout="row">
		<md-input-container flex>
		    <label>Saisir un nom pour rechercher un utilisateur</label>
		    <input ng-model="filters.fullName" ng-change="searchEmployees()">
		</md-input-container>
	    <md-button aria-label="effacer" ng-click="clearSearch()" ng-show="filters.fullName">
			<md-icon icon="images/ic_clear_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		</md-button>
	</div>
	<div ng-hide="employees" layout="row" layout-align="center center">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<md-content class="md-padding" ng-show="employees.length == 0">
		Aucun résultat.
	</md-content>
	<md-list ng-show="employees && employees.length > 0">
		<md-item ng-repeat="employee in employees" ng-click="viewEmployee(employee)">
	    	<md-item-content>
		      	<div class="md-tile-left">
		        	<img ng-src="{{employee.avatarUrl}}" class="avatar" alt="{{employee.fullName}}">
		      	</div>
		      	<div class="md-tile-content">
			        <h3>{{employee.fullName}}</h3>
			        <h4>{{employee.currentJobName}}</h4>
			        <p ng-if="employee.experiences.length">
			          Son CV liste <strong>{{employee.experiences.length}}</strong> expériences professionnelles.
			        </p>
			        <p ng-if="!employee.experiences.length">
			        	Pas d'expérience ... pour le moment !
			        </p>
			        <p>
		        		<strong ng-if="employee.isCurrentlyEmployed">En poste</strong>
		        		<strong ng-if="employee.isLookingForAJob">{{employee.isCurrentlyEmployed ? ' / ' : ''}}En recherche</strong>
		        	</p>
			    </div>
	    	</md-item-content>
	    	<md-divider></md-divider>
		</md-item>
	</md-list>
</md-content>
