<div style="height: 600px; overflow: auto;" infinite-scroll="loadMoreEmployees()" can-load="!loading" threshold="100">
 	<main-sidenav></main-sidenav>
	<md-toolbar>
		<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
			<md-button aria-label="menu" ng-click="openSidenav()">
				<md-icon icon="images/ic_menu_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<h1 class="toolbar-title">
	        	Utilisateurs
	      	</h1>
	      	<md-button aria-label="afficher les filtres" ng-click="toggleFilters()">
				<md-icon icon="images/ic_filter_list_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-toolbar layout-align="space-between center" ng-show="showFilters || filters.isCurrentlyEmployed != null || filters.isLookingForAJob != null" class="md-primary md-hue-3">
		<div class="md-toolbar-tools" style="font-size: 0.7em;">
			<md-checkbox ng-change="searchEmployees()" ng-model="filters.isCurrentlyEmployed" aria-label="en poste" class="md-primary">
				En poste
			</md-checkbox>
			<md-checkbox ng-change="searchEmployees()" ng-model="filters.isLookingForAJob" aria-label="en recherche" class="md-primary">
				En recherche
			</md-checkbox>
		</div>
	</md-toolbar>
	<div layout="row">
		<md-input-container flex>
		    <label>Saisir un nom pour rechercher un utilisateur</label>
		    <input ng-model="filters.fullName" ng-change="searchEmployees()" type="search" ng-model-options="{debounce: 500}">
		</md-input-container>
	    <md-button aria-label="effacer" ng-click="clearSearch()" ng-show="filters.fullName">
			<md-icon icon="images/ic_clear_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		</md-button>
	</div>
	<md-content class="md-padding" ng-show="!loading && employees.length == 0">
		Aucun résultat.
	</md-content>
	<md-list md-swipe-right="openSidenav()" ng-show="employees && employees.length > 0">
		<md-item ng-repeat="employee in employees" ng-click="viewEmployee(employee)" class="clickable">
	    	<md-item-content>
		      	<div class="md-tile-left">
		        	<img ng-if="employee.avatarUrl" ng-src="{{employee.avatarUrl}}" class="avatar" alt="{{employee.fullName}}">
		      	</div>
		      	<div class="md-tile-content">
			        <h3>{{employee.fullName}}</h3>
			        <h4>{{employee.currentJobName}}</h4>
			        <p ng-if="employee._embedded.experiences.length">
			          Son CV liste <strong>{{employee._embedded.experiences.length}}</strong>
						<ng-pluralize count="employee._embedded.experiences.length"
								  when="{'one': 'expérience professionnelle',
					                     'other': 'expériences professionnelles'}">
						</ng-pluralize>.
			        </p>
			        <p ng-if="!employee._embedded.experiences.length">
			        	Pas d'expérience ... pour le moment !
			        </p>
			        <p>
		        		<strong ng-if="employee.isCurrentlyEmployed">En poste</strong>
		        		<strong ng-if="employee.isLookingForAJob">{{employee.isCurrentlyEmployed ? ' / ' : ''}}En recherche</strong>
		        	</p>
			    </div>
	    	</md-item-content>
	    	<md-divider></md-divider>
		</md-item>
	</md-list>
	<div ng-show="loading" layout="row" layout-align="center center" style="height: 100px;">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</md-content>
