<md-content style="height: 600px;">
	<md-toolbar>
		<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
			<md-button ng-click="viewEmployees()" aria-label="retour">
				<md-icon icon="images/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<h1 class="toolbar-title">
	        	{{employee.fullName}}<br />
	  			<span class="smallText">{{employee.currentJobName}}</span>
	      	</h1>
	      	<md-button ng-href="mailto:{{employee.email}}" aria-label="contacter par mail" ng-show="employee.email">
	      		<md-icon icon="images/ic_email_24px.svg" style="width: 24px; height: 24px;"></md-icon>
	      	</md-button>
		</div>
	</md-toolbar>
	<md-toolbar class="md-primary md-hue-3 md-whiteframe-z1" ng-show="employee._embedded.experiences">
		<div class="md-toolbar-tools" layout-align="space-between center">	
			<div>
	    		<img ng-if="employee.avatarUrl" ng-src="{{employee.avatarUrl}}" class="avatar" alt="{{employee.fullName}}">
		  	</div>
			<div>
				<div class="smallText">
					{{employee.city}} - {{employee.countryName}}<br />
					<strong ng-if="employee.isCurrentlyEmployed">En poste</strong>
					<strong ng-if="employee.isLookingForAJob">{{employee.isCurrentlyEmployed ? ' / ' : ''}}En recherche</strong>
				</div>
			</div>

	        <div class="smallText">
	        	<strong>{{employee.birthdate | date: 'dd/MM/yyyy'}}</strong><br />
	        	Permis :
	        	<strong>{{employee.hasDriversLicence ? 'oui' : 'non'}}</strong><br />
			</div>
		</div>
	</md-toolbar>
	<md-content ng-hide="employee" style="height: 200px;" layout="row" layout-align="center center">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</md-content>
	<md-content ng-if="employee && employee._embedded.experiences.length == 0" class="md-padding">
		<p>Pas d'expérience ... pour le moment !</p>
	</md-content>
	<section ng-repeat="experience in employee._embedded.experiences | filter: filterExperiences" ng-show="employee">
		<md-subheader class="md-primary">
			<strong>{{experience._embedded.job.name}}</strong> 
			chez <strong>{{experience._embedded.company.name}}</strong>
			<span>{{experience.dateEnd ? 'de' : 'depuis'}} <strong>{{experience.dateStart | date: 'MMM yyyy'}}</strong></span> 
			<span ng-show="experience.dateEnd">à <strong>{{experience.dateEnd | date: 'MMM yyyy'}}</strong></span>
		</md-subheader>
		<md-list layout="column">
			<md-item ng-repeat="mission in experience._embedded.missions" ng-click="viewMission(employee)">
		    	<md-item-content>
			      	<div class="md-tile-content">
				        <h3>{{mission.name}}</h3>
				        <h4 ng-show="mission._embedded.tags.length">
							Mots-clés : <md-button class="md-primary" ng-repeat="tag in mission._embedded.tags">{{tag.label}}</md-button>
						</h4>
						<md-divider ng-show="mission._embedded.tags.length"></md-divider>
				        <p>
				        	{{mission.description}}
				        </p>
				    </div>
		    	</md-item-content>
	    		<md-divider></md-divider>
	    	</md-item>
		</md-list>
	</section>
</md-content>	
