<md-toolbar md-scroll-shrink>
	<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
		<md-button ng-href="#/employees" aria-label="menu" ng-click="openSidenav()">
			<md-icon icon="images/ic_menu_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		</md-button>
		<h1 class="employeeToolbarTitle">
        	Utilisateurs
      	</h1>
	</div>
</md-toolbar>
<div layout="row">
	<md-input-container flex>
	    <label>Saisir un nom pour rechercher un utilisateur</label>
	    <input ng-model="fullNameSearch" ng-change="searchEmployees()">
	</md-input-container>
    <md-button aria-label="effacer" ng-click="clearSearch()" ng-show="fullNameSearch">
		<md-icon icon="images/ic_clear_24px.svg" style="width: 24px; height: 24px;"></md-icon>
	</md-button>
</div>
<div ng-hide="employees" layout="row" layout-align="center center">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-show="employees.length == 0">
	Aucun résultat.
</div>
<md-list ng-show="employees && employees.length > 0">
	<md-item ng-repeat="employee in employees" ng-click="viewEmployee(employee)">
    	<md-item-content>
	      	<div class="md-tile-left">
	        	<img ng-src="{{employee.avatarUrl}}" class="avatar" alt="{{employee.fullName}}">
	      	</div>
	      	<div class="md-tile-content">
		        <h3>{{employee.fullName}}</h3>
		        <h4>{{employee.city}} - {{employee.country}}</h4>
		        <p ng-if="employee._embedded.experiences.length">
		          Son CV liste <strong>{{employee._embedded.experiences.length}}</strong> expériences professionnelles.
		        </p>
		        <p ng-if="!employee._embedded.experiences.length">
		        	Pas d'expérience ... pour le moment !
		        </p>
		    </div>
    	</md-item-content>
    	<md-divider></md-divider>
	</md-item>
</md-list>

