<md-bottom-sheet class="md-list md-has-header">
	<md-subheader>Actions pour cette expérience</md-subheader>
	<md-list>
		<md-item>
			<md-button class="md-primary" aria-label="modifier cette expérience" ng-click="edit()">
				<md-icon icon="images/ic_mode_edit_24px.svg" class="inline-list-icon"></md-icon>
				<span class="inline-list-icon-label">Modifier</span>
			</md-button>
		</md-item>
		<md-item>
			<md-button class="md-primary" aria-label="supprimer cette expérience" ng-click="delete()">
				<md-icon icon="images/ic_delete_24px.svg" class="inline-list-icon"></md-icon>
				<span class="inline-list-icon-label">Supprimer du CV</span>
			</md-button>
		</md-item>
	</md-list>
</md-bottom-sheet>
