<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav" md-swipe-left="close()">
	<md-toolbar class="md-theme-light" ng-hide="me">
		<h1 class="md-toolbar-tools">
    		EZCV <br />
			<span class="smallText">Mon CV en ligne, facile !</span>
		</h1>
	</md-toolbar>

  <md-toolbar class="md-tall md-theme-light" ng-show="me">
    <div class="md-toolbar-tools">
    	<img ng-src="{{me.avatarUrl}}" class="avatar" alt="{{me.fullName}}">
    	<h1>
        	{{me.fullName}} <br />
        	<span class="smallText">{{me.email}}</span>
    	</h1>
   	</div>
  </md-toolbar>

  <md-content ng-controller="SidenavCtrl">
  	<md-list>
  		<md-item ng-click="viewEmployees()" class="clickable">
  			<md-item-content>
		      	<div class="md-tile-left">
  					<md-icon icon="images/ic_list_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		      	</div>
		      	<div class="md-tile-content">Tous les utilisateurs</div>
			</md-item-content>
  			<md-divider></md-divider>
  		</md-item>
  		<md-item ng-show="me" ng-click="viewMyCV()" class="clickable">
  			<md-item-content>
		      	<div class="md-tile-left">
  					<md-icon icon="images/ic_subject_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		      	</div>
		      	<div class="md-tile-content">Voir mon CV</div>
			</md-item-content>
  			<md-divider></md-divider>
  		</md-item>      		
  		<md-item ng-show="me" class="clickable">
  			<md-item-content ng-click="editMyCV()">
		      	<div class="md-tile-left">
  					<md-icon icon="images/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		      	</div>
		      	<div class="md-tile-content">Modifier mon CV</div>
			</md-item-content>
  			<md-divider></md-divider>
  		</md-item>
  		<md-item ng-show="me" class="clickable">
  			<md-item-content ng-click="editMyProfile()">
		      	<div class="md-tile-left">
  					<md-icon icon="images/ic_account_box_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		      	</div>
		      	<div class="md-tile-content">Modifier mon profil</div>
			</md-item-content>
  			<md-divider></md-divider>
  		</md-item>        		
  		<md-item ng-hide="me" ng-click="register()" class="clickable">
  			<md-item-content>
		      	<div class="md-tile-left">
  					<md-icon icon="images/ic_group_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		      	</div>
		      	<div class="md-tile-content">Inscription</div>
			</md-item-content>
  			<md-divider></md-divider>
  		</md-item>
  		<md-item ng-hide="me" ng-click="login()" class="clickable">
  			<md-item-content>
		      	<div class="md-tile-left">
  					<md-icon icon="images/ic_lock_outline_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		      	</div>
		      	<div class="md-tile-content">Connexion</div>
			</md-item-content>
  			<md-divider></md-divider>
  		</md-item>
	    <md-item ng-show="me" ng-click="logout()" class="clickable">
			<md-item-content>
		      	<div class="md-tile-left">
					<md-icon icon="images/ic_exit_to_app_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		      	</div>
	      			<div class="md-tile-content">Déconnexion</div>
				</md-item-content>
				<md-divider></md-divider>
			</md-item>
       </md-list>
       <br />
       <div layout="row" layout-align="center center">
			<md-button ng-click="close()" class="md-primary" layout-align="center center">
				Fermer
			</md-button>
		</div>
	</md-content>
</md-sidenav>
