<md-content>
	<md-toolbar>
		<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
			<md-button ng-click="viewEmployees()" aria-label="retour">
				<md-icon icon="images/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<h1 class="employeeToolbarTitle">
	        	Inscription
	      	</h1>
	      	<div></div>
		</div>
	</md-toolbar>
	<md-content class="md-padding">
		<form name="registerForm" layout="column">
			<md-input-container>
	        	<label>Prénom</label>
	        	<input name="firstName" ng-model="user.firstName" ng-disabled="registering">
	        	<div ng-messages="errors.firstName">
					<div ng-repeat="(code, message) in errors.firstName" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>
			<md-input-container>
	        	<label>Nom</label>
	        	<input name="lastName" ng-model="user.lastName" ng-disabled="registering">
	        	<div ng-messages="errors.lastName">
					<div ng-repeat="(code, message) in errors.lastName" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>
			<md-input-container class="date">
	        	<label>Date de naissance</label>
	        	<input name="birthdate" ng-model="user.birthdate" ng-disabled="registering" type="date" min="1900-01-01" max="1999-12-31">
	        	<div ng-messages="errors.birthdate">
					<div ng-repeat="(code, message) in errors.birthdate" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>	      	
	      	<div layout="row" layout-align="center center">
				<md-checkbox name="hasDriversLicence" ng-model="user.hasDriversLicence" aria-label="titulaire du permis de conduire" class="md-primary" ng-disabled="registering">
					Titulaire du permis de conduire
				</md-checkbox>
	      	</div>
			<md-input-container>
	        	<label>Code postal</label>
	        	<input name="zipCode" ng-model="user.zipCode" ng-disabled="registering" type="number">
	        	<div ng-messages="errors.zipCode">
					<div ng-repeat="(code, message) in errors.zipCode" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>
			<md-input-container>
	        	<label>Ville</label>
	        	<input name="city" ng-model="user.city" ng-disabled="registering">
	        	<div ng-messages="errors.city">
					<div ng-repeat="(code, message) in errors.city" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>
			<md-input-container>
	        	<label>Pays</label>
	      	</md-input-container>
	      	<div>
	      		<select style="width: 100%;" name="country" ng-model="user.country" ng-options="country.name for country in countries track by country.id" ng-disabled="registering">
	        	</select>
	      	</div>
	      	<md-input-container>
		        <label>Intitulé de poste actuel (libre)</label>
		        <input name="currentJobName" ng-model="user.currentJobName" ng-disabled="registering">
	        	<div ng-messages="errors.currentJobName">
					<div ng-repeat="(code, message) in errors.currentJobName" ng-message="code">{{message}}</div>
				</div>
		    </md-input-container>
		    <div layout="row" layout-align="center center">
				<md-checkbox name="isCurrentlyEmployed" ng-model="user.isCurrentlyEmployed" aria-label="en poste" class="md-primary" ng-disabled="registering">
					En poste
				</md-checkbox>
				<md-checkbox name="isLookingForAJob" ng-model="user.isLookingForAJob" aria-label="en recherche" class="md-primary" ng-disabled="registering">
					En recherche
				</md-checkbox>
		    </div>
			<md-input-container>
	        	<label>Addresse email</label>
	        	<input type="email" name="email" ng-model="user.email" ng-disabled="registering">
	        	<div ng-messages="errors.email">
					<div ng-repeat="(code, message) in errors.email" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>
			<md-input-container>
	        	<label>URL de votre avatar</label>
	        	<input name="avatarUrl" type="url" ng-model="user.avatarUrl" ng-disabled="registering">
	        	<div ng-messages="errors.avatarUrl">
					<div ng-repeat="(code, message) in errors.avatarUrl" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>
	      	<md-input-container>
	        	<label>Nom d'utilisateur</label>
	        	<input name="userName" ng-model="user.userName" ng-disabled="registering">
	        	 <div ng-messages="errors.userName">
					<div ng-repeat="(code, message) in errors.userName" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>
	      	<md-input-container>
	        	<label>Mot de passe</label>
	        	<input name="password" ng-model="user.password" ng-disabled="registering" type="password">
	        	<div ng-messages="errors.password">
					<div ng-repeat="(code, message) in errors.password" ng-message="code">{{message}}</div>
				</div>
	      	</md-input-container>
	      	<md-input-container>
	        	<label>Confirmez le mot de passe</label>
	        	<input name="passwordConfirm" ng-model="user.passwordConfirm" ng-disabled="registering" type="password">
	      	</md-input-container>
	      	<div layout="row" layout-align="center center">
		      	<md-button ng-click="register()" class="md-primary" ng-disabled="registering || countries.length == 0">
					Valider
				</md-button>
			</div>
			<div layout="row" layout-align="center center" ng-show="registering">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
	    </form>
	</md-content>
</md-content>
